@font-face {
  font-family: 'DownFont';  /* Nom que tu donnes à ta police */
  src: url('../../fonts/DownFont.ttf') format('truetype');
  font-weight: normal;  /* Ajuste si tu as des variantes (bold, light, etc.) */
  font-style: normal;
}

.nbg {
  background: none;
}

* {
  font-family: 'DownFont', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1a0c31;
  color: white;
}

body, html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* From Uiverse.io by Yaya12085 */ 
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  width: 30%;
}

.title {
  font-size: 28px;
  color: #a180d6;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #a180d6;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: #a180d6;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: #a46cff;
}

.signin a:hover {
  text-decoration: underline #a46cff;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
  width: 98%;
}

.form label .input {
  width: 95%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: #a46cff;
}

.submit {
  border: none;
  outline: none;
  background-color: #a46cff;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
  width: 100%;
  box-shadow: 0 0 10px #a180d6;
  cursor: pointer;
}

.submit:hover {
  box-shadow: 0 0 15px #a180d6;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.message-error {
    color: red;
    text-align: center;
    display: none;
}